body, p, h1, h2, h3, h3, h5, h6{
	font-family: 'Indie Flower', cursive, sans-serif;
}

body{
	padding-top: 100px;
	background: linear-gradient(45deg, #75a3a3, #fff);
}

.navbar-text-color {
   color: #ccccff;
 font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
   color: #cccc00;
  background-color: #4d4d00;
  transition: all .5s linear;
}

 .nav-color-add{
  	background-color:rgba(34,34,34,0.9);

  }

.modal-content{
	background-image: url(../images/bg2.jpg);
	background-size: 100% 100%;

}

.modal-header{
	border-bottom: 0px;
}

.modal-footer{
	border-top: 0px;
}

.float-left{
	float: left;
	padding-right: 10px;
	border-radius: 0px 20px 0px 20px;
}

.float-right{
	float: right;
	padding-right: 10px;
	border-radius: 0px 20px 0px 20px;
}

.itunes{
	background-color: #bfbfbf;
	color: #1a1a1a;
	width: 110px;
	height: 30px;
	border:2px solid #8c8c8c;
	text-align: center;
	line-height: 30px;
	border-radius: 10px;
}

.itunes:hover{
	background-color: #fff;
	color: #0088cc;
}

audio{
	width: 200px;
}

a:hover{
	text-decoration: none;
}

.table-margin{
	margin-top: 30px;
}

.position-rel{
	position: relative;
	background-image:url(../images/monkees.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 710px;
	margin-top: 10px;
}

.homepage-background{
	/*background-image:url(../images/monkees.jpg);*/
	background-image:url(../images/monkees.gif);
	background-size: 100% 100%;
	background-attachment: fixed;
}

.homepage{
	margin-top: 10px;
	width: 100%;
	height: 552px;
}

.contactForm{
	border: 5px solid black;
	border-radius: 10px;
	padding: 10px;
	width: 60%;
	position: relative;
	background-color: #fff;
	top: -200px;
	left: 20%;
}

.justfied{
	text-align: justify;
}

.div-color{
	background-color: #e0ebeb;
	border-radius: 10px;
	padding: 10px;
}

/*
.div-marginl{
	margin-left: 15px;
}
 */

.div-margint{
	margin-top: 15px;
}



.hme-panel{
	position: absolute;
	top: 60%;
	right: 3%;
	/*top: 400px;
	left: 915px;*/
	width: 65%;
	/*z-index: 1;*/
	/*border: 1px solid red;*/
}
.div-panel-btn{
	position: relative;
	/*left: 120px;*/
	left: 50%;
	margin-top: 10px;
	/*border: 1px solid red;*/
	width: 50%;
}
.panel-margin{
	position: relative;
	margin-top: 10px;
	margin-right: 25px;
	padding: 10px;
	width: 50%;
	height: 100px;
	left: 50%;
	background-color: #fff;
	border-radius: 10px;
	overflow: scroll;
	/*border: 1px solid red;*/
}

@media screen and (min-width: 765px) {
   nav ul li {
        width: 200px;
        text-align: center;
   }
 
 }  


footer{
	margin-top: 30px;
	background-color: #d1d1e0;
	width: 100%;
	height: 200px;
	padding-top: 80px;
	padding-left: 25px;
}

.footer{
	width: 18%;
	height: 55px;
	display: inline-block;
	line-height: 55px;
	padding-left: 5px;
	padding-right: 5px;
}

.footer:hover{
	box-shadow: 5px 5px 15px #888888;
	border-radius: 10px;
	background-color: rgba(148, 184, 184, 0.3);
}

.footerT{
	width: 18%;
	height: 55px;
	display: inline-block;
	line-height: 55px;
	padding-left: 5px;
	padding-right: 5px;
}

.footer-align-left{
	text-align: right;
}

@media screen and (max-width: 765px) {

	body{
	padding-top: 170px;
	
	}
	.contactForm{
	width: 100%;
	position: static;
	margin-top: 10px;
	}

	audio{
		width: 180px;
		display: block;
	}

	video{
		width: 300px;
	}

	footer{
	width: 100%;
	height: 400px;
	padding-top: 10px;
	}

	.footer-align-left{
	text-align: left;
	}
	.footer{
	margin-top: 20px;
	width: 80%;
	display: block;
	}

	.footerT{
	margin-top: 20px;
	width: 80%;
	display: block;
	}
}

.img{
	width:240px;
	height:240px;
}

.social-media-icons{
	width:50px; 
	height:50px;
}