<footer>
	<div class="footerT">
		<span class="glyphicon glyphicon-copyright-mark"></span>2016 The Monkees    
	</div> 

	<div class="footerT footer-align-left">Follow us on:</div> 

	<div class="footer">
		<i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i><a href="https://www.facebook.com/TheMonkees/" target="_blank"><span class="space">facebook.com/monkees</span></a>
	</div>

	<div class="footer">
		<i class="fa fa-twitter fa-3x" aria-hidden="true"></i><a href="https://twitter.com/themonkees?lang=en" target="_blank"><span class="space">twitter.com/@monkees</span></a>
	</div>
	
	<div class="footer">
		<i class="fa fa-youtube fa-3x" aria-hidden="true"></i><a href="https://www.youtube.com/user/themonkees" target="_blank"><span class="space">Youtube.com/monkees</span></a>
	</div>
</footer>