<footer>
	
		<div class="footerT">
			<span class="glyphicon glyphicon-copyright-mark"></span>2016 The Monkees    
		</div> 

		<div class="footerT footer-align-left">Follow us on:</div> 

		<div class="footer">
			<img src="images/facebook.png" alt="facebook image" class="social-media-icons"><a href=" ">facebook.com/monkees</a>
		</div>

		<div class="footer">
			<img src="images/Twitter.png" alt="twitter image" class="social-media-icons"><a href=" ">twitter.com/@monkees</a>
		</div>
		
		<div class="footer">
			<img src="images/youtube.png" alt="youtube image" class="social-media-icons"><a href=" ">Youtube.com/monkees</a>
		</div>

</footer>