
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 div-color div-margint">
			<h1>MEET THE BAND</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 div-color div-margint">
			<p>The Monkees are an American rock and pop band originally active between 1965 and 1971, with subsequent reunion albums and tours in the decades that followed. They were formed in Los Angeles in 1965 by Bob Rafelson and Bert Schneider for the American television series The Monkees, which aired from 1966 to 1968. The musical acting quartet was composed of Americans Micky Dolenz, Michael Nesmith and Peter Tork and British stage and television actor and singer Davy Jones. The band's music was initially supervised by producer Don Kirshner, backed by the songwriting duo of Tommy Boyce and Bobby Hart.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12 div-margint">
			<div class="band div-color">
				<img src="images/dj.jpg" class="float-left img">
				<h3>Davy Jones</h3>
				<p>The terminally cute Davy was a Broadway performer, and was first to be picked for The Monkees TV Show. David performs songs of The Monkees and new material all around the world in solo shows, and with the other Monkees members. He has written 3 books about the Monkee years. He also breeds and rides race horses.</p>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 div-margint">
			<div class="band div-color">
				<img src="images/md.jpg" class="float-left img">
				<h3>Mickey Dolenz</h3>
				<p>Micky has performed live numerous times since The Monkees, and sang most of the popular songs. He has made successful childrens records, published his autobiography, and has performed on Broadway. He performs in road shows of “Grease!”, was the voice of Arthur in the Fox animated series “The Tick”, has appeared in the TV series “Pacific Blue”, and directs film projects. He also has performed on Broadway in the play AIDA, and has taken a job as a morning radio DJ in New Jersey.</p>
			</div>
		</div>
	
		<div class="col-md-6 col-xs-12 div-margint">
			<div class="band div-color">
				<img src="images/mn.jpg" class="float-left img">
				<h3>Peter Tork</h3>
				<p>A folk musician before joining the Monkees, Peter played musically around the world with several bands, and has recently released several CD’s partnering with James Lee Stanley and Shoe Suede Blues.</p>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 div-margint">
			<div class="band div-color">
				<img src="images/pt.jpg" class="float-left img">
				<h3>Michael Nesmith</h3>
				<p>An accomplished songwriter before performing on The Monkees TV show, Michael has created many solo albums, has been credited with creating the concept behind MTV, won the first ever grammy award for video with “Elephant Parts”, created the TV sequel “Television Parts”, has run a video company, has produced movies such as “Tape Heads” and “Timerider”, and still performs live in solo concert shows on occasion. He was not available when the reunions of the 80’s took place, although he appeared with the group on occasion.</p>
			</div>
		</div>
	</div>
</div>