<div class="container-fluid">
	<div class="position-rel">
		<img src="images/monkees.jpg" alt="The band" width="100%">
	</div>
	<div class="contactForm">
		<h1>Book an Event</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<form>
			<div class="form-group">
				<label>Pick a Date for your event</label>
				<input type="date" name="date" class="form-control"><br>
				<button type="button" class="btn btn-info">Check Availability</button>
			</div>
			<div>
				<p>Book your Event</p>
			</div>
			<div class="form-group">
				<label>Name</label>
				<input type="text" name="name" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="text" name="email" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Telephone</label>
				<input type="text" name="telephone" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Venue Address</label>
				<textarea class="form-control" rows="3" required></textarea>
			</div>
			<div class="form-group">
				<label>Choosen event date</label>
				<input type="date" name="eventDate" class="form-control" required>
			</div>
			<button type="Submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	
</div>