<div class="homepage homepage-background">
	<h1 style="color: #8c8c8c">Welcome to rockband page</h1>
</div>
<div class="hme-panel">
	
		<button id="accordion" type="button" class="btn btn-info div-panel-btn" ng-model="accordion">Tours and Concerts</button>
	
	<div id="collapseOne" class="panel-margin" ng-show="!accordion">
			
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
		<p>sed do eiusmod empor incididunt ut labore et dolore</p>,  
		<p>proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			
	</div>

	
		<button id="accordionT" type="button" class="btn btn-info div-panel-btn">New Releases</button>
	
	<div id="collapseTwo" class="panel-margin">
			
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
		<p>sed do eiusmod empor incididunt ut labore et dolore</p>,  
		<p>proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			
	</div>
</div>
