<div class="homepage homepage-background">
	
</div>
<div class="hme-panel">
	
	<button id="accordion" type="button" class="btn btn-info div-panel-btn" ng-click="toggle1()">Tours and Concerts</button>
	
	<div id="collapseOne" class="panel-margin collapse">	
		<h4>Europe Tour</h4>
		<p>UK: 30th January, 2018</p>
		<p>Germany: 15th February, 2018</p>		
	</div>
	
	<button id="accordionT" type="button" class="btn btn-info div-panel-btn" ng-click="toggle2()">New Releases</button>
	
	<div id="collapseTwo" class="panel-margin collapse">	
		<h4>Upcoming Releases</h4>
		<h5>Albums:</h5>  
		<ul>
			<li>The Golden Years (Remake)</li>
		</ul>	
	</div>
</div>
