<div class="homepage homepage-background">
	<h1 style="color: #8c8c8c">Welcome to rockband page</h1>
</div>
<div class="hme-panel">
	<div class="div-panel-btn">
		<button id="accordion" type="button" class="btn btn-info">Tours and Concerts</button>
	</div>
	<div id="collapseOne" class="panel-margin">
			
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
		<p>sed do eiusmod empor incididunt ut labore et dolore</p>,  
		<p>proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			
	</div>

	<div class="div-panel-btn">
		<button id="accordionT" type="button" class="btn btn-info">New Releases</button>
	</div>
	<div id="collapseTwo" class="panel-margin">
			
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
		<p>sed do eiusmod empor incididunt ut labore et dolore</p>,  
		<p>proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			
	</div>
</div>
