<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>OUR MUSIC</h1>
		</div>
	
		<div class="col-md-12">
			<p class="justfied">The Monkees' debut and second albums were meant to be a soundtrack to the first season of the TV show, to cash in on the audience. The Monkees' first single, "Last Train to Clarksville" b/w "Take a Giant Step", was released in August 1966, just weeks prior to the TV broadcast debut. In conjunction with the first broadcast of the television show on September 12, 1966, on the NBC television network, NBC and Columbia had a major hit on their hands. The first long-playing album, The Monkees, was released a month later, spent 13 weeks at #1 and stayed on the Billboard charts for 78 weeks. Twenty years later, during their reunion, it would spend another 24 weeks on the Billboard charts. This first album is also notable, in addition to containing their debut single, for containing band member Nesmith's first foray into country-rock, "Papa Gene's Blues," which mixed country, rock and Latin flavors.</p>
		</div>
	
		<div class="col-md-6 col-xs-12">
			<video width="520" height="300" controls="controls">
				<source src="video/TheMonkees.mp4" type="video/mp4">
			</video>
			<table>
				<tr>
					<td>
						<!-- Facebook Share button -->
						<div class="fb-share-button" data-href="https://caananay.github.io/rockband-project/#/music" data-layout="button_count" data-size="small" data-mobile-iframe="true">
							<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcaananay.github.io%2Frockband-project%2F%23%2Fmusic&amp;src=sdkpreparse">Share</a>
						</div>
					</td>
					<td class="table-spacing">
						<!--tweet button-->
						<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
					</td>
				</tr>
			</table>		
		</div>

		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/album.png" alt="album cover" class="float-left">
				<h4>Greatest Hits Vol.1</h4>
				<p class="justfied">The Monkees' first single, "Last Train to Clarksville" b/w "Take a Giant Step", was released in August 1966, just weeks prior to the TV broadcast debut. In conjunction with the first broadcast of the television show on September 12, 1966, on the NBC television network, NBC and Columbia had a major hit on their hands.
				</p>
			</div>
				
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>Clarksville</td>
						<td>
							<audio controls>
								<source src="audio/Clarksville.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="https://itunes.apple.com/us/album/last-train-to-clarksville/id4512505?i=4512503" target="_blank"><div class="itunes">Buy on itunes</div></a>
						</td>
					</tr>
					<tr>
						<td>Daydream Believer</td>
						<td>
							<audio controls>
								<source src="audio/DaydreamBeliever.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="https://itunes.apple.com/us/album/daydream-believer-goin-down-digital-45-single/id321027264" target="_blank"><div class="itunes">Buy on itunes</div></a>
						</td>
					</tr>
				</table>
			</div><!--table-margin-->
		</div>

		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/cover.jpg" alt="album cover" class="float-left">
				<h4>Greatest Hits Vol.2</h4>
				<p class="justfied">The theme song to The Monkees, "(Theme from) The Monkees" (released as the single in some countries) in 1967, is one of the group's most well known songs. The first long-playing album, The Monkees, was released a month later, spent 13 weeks at #1 and stayed on the Billboard charts for 78 weeks. Twenty years later, during their reunion, it would spend another 24 weeks on the Billboard charts.
				</p>
			</div>
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>I am a Believer</td>
						<td>
							<audio controls>
								<source src="audio/ImABeliever.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="https://itunes.apple.com/us/album/last-train-to-clarksville/id4512505?i=4512503" target="_blank"><div class="itunes">Buy on itunes</div></a>
						</td>
					</tr>	
				</table>
			</div>	
		</div>

		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/cover2.jpg" alt="album cover" class="float-left"><h4>Greatest Hits Vol.3</h4>
				<p class="justfied">The band worked on the TV series all day, recorded in the studio at night and slept very little. The weekends were usually filled with special appearances or filming of special sequences. These performances were sometimes used during the actual series. The episode "Too Many Girls (Fern and Davy)" opens with a live version of "(I'm Not Your) Steppin' Stone" being performed.  
				</p>
			</div>
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>Stepping Stone</td>
						<td>
							<audio controls>
								<source src="audio/SteppingStone.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="https://itunes.apple.com/us/album/last-train-to-clarksville/id4512505?i=4512503" target="_blank"><div class="itunes">Buy on itunes</div></a>
						</td>
					</tr>
					<tr>
						<td>Tailtoddle</td>
						<td>
							<audio controls>
								<source src="audio/tailtoddle_lo.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="https://itunes.apple.com/us/album/last-train-to-clarksville/id4512505?i=4512503" target="_blank"><div class="itunes">Buy on itunes</div></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>	
</div><!--container-fluid-->