<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>OUR MUSIC</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p class="justfied">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
				<video width="520" height="300" controls="controls">
					<source src="video/TheMonkees.mp4" type="video/mp4">
				</video>
			
				<p>Share on&nbsp;&nbsp;&nbsp;<a href="#"><img src="images/facebook.png" alt="facebook image" class="social-media-icons"></a>&nbsp;&nbsp;&nbsp;<a href="#"><img src="images/Twitter.png" alt="twitter image" class="social-media-icons"></a>&nbsp;&nbsp;<a href="#"><img src="images/youtube.png" alt="youtube image" class="social-media-icons"></a></p>
		</div>

		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/album.jpg" alt="album cover" class="float-left img"><h4>Greatest Hits Vol.1</h4>
				<p class="justfied">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
				</p>
			</div>
				
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>Clarksville</td>
						<td>
							<audio controls>
								<source src="audio/Clarksville.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
					<tr>
						<td>Daydream Believer</td>
						<td>
							<audio controls>
								<source src="audio/DaydreamBeliever.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
				</table>
			</div>	
	</div>
</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/album2.jpg" alt="album cover" class="float-left img"><h4>Greatest Hits Vol.2</h4>
				<p class="justfied">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
				</p>
			</div>
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>I am a Believer</td>
						<td>
							<audio controls>
								<source src="audio/ImABeliever.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
					
				</table>
			</div>	

		</div>

		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/cover2.png" alt="album cover" class="float-left img"><h4>Greatest Hits Vol.3</h4>
				<p class="justfied">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
				</p>
			</div>
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>Stepping Stone</td>
						<td>
							<audio controls>
								<source src="audio/SteppingStone.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
					
				</table>
			</div>
			
		</div>
	</div>	
	<div class="row">	
		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/cover.jpg" alt="album cover" class="float-left img"><h4>Greatest Hits Vol.4</h4>
					<p class="justfied">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
					</p>
			</div>
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>Tailtoddle</td>
						<td>
							<audio controls>
								<source src="audio/tailtoddle_lo.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
					
				</table>
			</div>

		
		</div>
	</div>
</div>