<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>OUR MUSIC</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p class="justfied">The Monkees' debut and second albums were meant to be a soundtrack to the first season of the TV show, to cash in on the audience. The Monkees' first single, "Last Train to Clarksville" b/w "Take a Giant Step", was released in August 1966, just weeks prior to the TV broadcast debut. In conjunction with the first broadcast of the television show on September 12, 1966, on the NBC television network, NBC and Columbia had a major hit on their hands. The first long-playing album, The Monkees, was released a month later, spent 13 weeks at #1 and stayed on the Billboard charts for 78 weeks. Twenty years later, during their reunion, it would spend another 24 weeks on the Billboard charts. This first album is also notable, in addition to containing their debut single, for containing band member Nesmith's first foray into country-rock, "Papa Gene's Blues," which mixed country, rock and Latin flavors.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
				<video width="520" height="300" controls="controls">
					<source src="video/TheMonkees.mp4" type="video/mp4">
				</video>
			
				<p>Share on 
					<a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
				</p>
		</div>

		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/album.jpg" alt="album cover" class="float-left img"><h4>Greatest Hits Vol.1</h4>
				<p class="justfied">The Monkees' first single, "Last Train to Clarksville" b/w "Take a Giant Step", was released in August 1966, just weeks prior to the TV broadcast debut. In conjunction with the first broadcast of the television show on September 12, 1966, on the NBC television network, NBC and Columbia had a major hit on their hands.
				</p>
			</div>
				
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>Clarksville</td>
						<td>
							<audio controls>
								<source src="audio/Clarksville.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
					<tr>
						<td>Daydream Believer</td>
						<td>
							<audio controls>
								<source src="audio/DaydreamBeliever.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
				</table>
			</div>	
	</div>
</div>

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/album2.jpg" alt="album cover" class="float-left img">
				<h4>Greatest Hits Vol.2</h4>
				<p class="justfied">The theme song to The Monkees, "(Theme from) The Monkees" (released as the single in some countries) in 1967, is one of the group's most well known songs. The first long-playing album, The Monkees, was released a month later, spent 13 weeks at #1 and stayed on the Billboard charts for 78 weeks. Twenty years later, during their reunion, it would spend another 24 weeks on the Billboard charts.
				</p>
			</div>
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>I am a Believer</td>
						<td>
							<audio controls>
								<source src="audio/ImABeliever.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
					
				</table>
			</div>	

		</div>

		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/cover2.png" alt="album cover" class="float-left img"><h4>Greatest Hits Vol.3</h4>
				<p class="justfied">The band worked on the TV series all day, recorded in the studio at night and slept very little. The weekends were usually filled with special appearances or filming of special sequences. These performances were sometimes used during the actual series. The episode "Too Many Girls (Fern and Davy)" opens with a live version of "(I'm Not Your) Steppin' Stone" being performed.  
				</p>
			</div>
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>Stepping Stone</td>
						<td>
							<audio controls>
								<source src="audio/SteppingStone.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
					
				</table>
			</div>
			
		</div>
	</div>	
	<div class="row">	
		<div class="col-md-6 col-xs-12">
			<div>
				<img src="images/cover.jpg" alt="album cover" class="float-left img"><h4>Greatest Hits Vol.4</h4>
					<p class="justfied">Four months after their debut single was released in September 1966, on January 16, 1967, the Monkees held their first recording session as a fully functioning, self-contained band, recording an early version of Nesmith's self-composed top 40 hit single "The Girl I Knew Somewhere", along with "All of Your Toys" and "She's So Far Out, She's In". Four days later, on January 20, 1967, their debut self-titled album made its belated release in the U.K. It was released in October '66 in the U.S.  
					</p>
			</div>
			<div class="table-margin">
				<table class="table table-hover">
					<tr>
						<td>Tailtoddle</td>
						<td>
							<audio controls>
								<source src="audio/tailtoddle_lo.mp3" type="audio/mp3">
							</audio>
						</td>
						<td>
							<a href="#"><div class="itunes">Buy on Itunes</div></a>
						</td>
					</tr>
					
				</table>
			</div>

		
		</div>
	</div>
</div>